/* Background */

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ff9966, #ff5e62);
    min-height: 100vh;
}

/* Container */

.attendance-container {
    width: 700px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Heading */

.attendance-container h2 {
    margin-bottom: 20px;
    color: #ff5e62;
}

/* Table */

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.attendance-table th {
    background: #ff5e62;
    color: white;
    padding: 12px;
}

.attendance-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Checkbox highlight */

.box {
    transform: scale(1.2);
}

.box:checked {
    accent-color: green;
}

/* Buttons */

.select-btn,
.submit-btn {
    background: #ff5e62;
    color: white;
    border: none;
    padding: 10px 18px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.select-btn:hover,
.submit-btn:hover {
    background: #ff9966;
}

/* Success Message */

.success-msg {
    color: green;
    font-weight: bold;
}