/* Background */

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    min-height: 100vh;
}

/* Container */

.courses-container {
    width: 500px;
    margin: 80px auto;
    background: white;
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Heading */

.courses-container h2 {
    margin-bottom: 25px;
    color: #185a9d;
}

/* List */

.course-list {
    list-style: none;
    padding: 0;
}

.course-item {
    background: #43cea2;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    transition: .3s;
    font-weight: 500;
}

.course-item:hover {
    background: #185a9d;
    transform: scale(1.05);
}

/* Empty */

.no-course {
    color: red;
    font-weight: bold;
}