body {
    margin: 0;
    font-family: Segoe UI, sans-serif;
}

/* Navbar */

.navbar {
    display: flex;
    gap: 18px;
    padding: 15px 25px;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    align-items: center;
}

.navbar h2 {
    margin-right: auto;
}

/* Links */

.navbar a {
    text-decoration: none;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    transition: .3s;
}

.navbar a:hover {
    background: #00c6ff;
}

/* Content */

.content-area {
    padding: 30px;
}