body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
}

/* Main Card */

.message-container {
    width: 60%;
    margin: 70px auto;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Heading */

.message-container h2 {
    text-align: center;
    color: #764ba2;
    margin-bottom: 25px;
}

/* Form Layout */

.message-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Inputs */

.message-form select,
.message-form textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.message-form textarea {
    resize: none;
}

/* Button */

.send-btn {
    padding: 10px;
    background: #764ba2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.send-btn:hover {
    background: #667eea;
}

/* Success Messages */

.success-msg {
    color: green;
    margin-bottom: 15px;
}