/* Background */

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f7971e, #ffd200);
    min-height: 100vh;
}

/* Container */

.teacher-dashboard-container {
    background: white;
    width: 400px;
    margin: 80px auto;
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Heading */

.teacher-dashboard-container h2 {
    color: #f7971e;
    margin-bottom: 25px;
}

/* Menu */

.teacher-menu {
    list-style: none;
    padding: 0;
}

.teacher-menu li {
    margin: 12px 0;
}

/* Links */

.teacher-menu a {
    text-decoration: none;
    background: #f7971e;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    display: inline-block;
    transition: .3s;
    font-weight: 500;
}

.teacher-menu a:hover {
    background: #ff9800;
    transform: scale(1.05);
}