/* Background */

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
}

/* Container */

.timetable-container {
    width: 750px;
    margin: 60px auto;
    background: white;
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Heading */

.timetable-container h2 {
    color: #667eea;
    margin-bottom: 20px;
}

/* Success */

.success-msg {
    color: green;
    font-weight: bold;
}

/* Form */

.timetable-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.timetable-form input,
.timetable-form select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.timetable-form button {
    background: #667eea;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.timetable-form button:hover {
    background: #764ba2;
}

/* Table */

.timetable-table {
    width: 100%;
    border-collapse: collapse;
}

.timetable-table th {
    background: #667eea;
    color: white;
    padding: 12px;
}

.timetable-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.timetable-table tr:hover {
    background: #f2f2f2;
}