body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #11998e, #38ef7d);
    min-height: 100vh;
}

/* Container */

.courses-container {
    width: 70%;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.courses-container h2 {
    color: #11998e;
}

/* List */

.course-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.course-item {
    padding: 12px;
    margin: 10px 0;
    background: #f5f5f5;
    border-radius: 8px;
    font-weight: bold;
    transition: .3s;
}

.course-item:hover {
    background: #38ef7d;
    color: white;
}

.no-course {
    color: #888;
}